<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Nuestros Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}">1</td>
                <td th:text="${cliente.nombre}">Nombre</td>
                <td th:text="${cliente.email}">Email</td>
            </tr>
        </tbody>
    </table>
</body>
</html>